/* /* id selector
#1 {
  color: red;
  background-color: yellow;
} */

/* class selector
.b{
    border:10x solid;
}
    */

/* h2 {
  background-color: blueviolet;
}

* {
  border: 1px solid red;
} */

/* group selector ,*/
h1,
h2 {
  color: aliceblue;
  background-color: rgb(12, 2, 22);
}

/* child seletor > */
/* 
div >p{
    color:green;
    background-color: brown;
} */

/* Attribute selector */

button[type="submit"] {
  color: rgb(217, 128, 12);
  font-size: 32px;
}

/* descendant selector

div p{
    color : red;
} */

/* psedudo  classes :*/
/* li:nth-child(2) {
  color: chocolate;
  font-size: 21px;
}
li:hover {
  color: yellow;
  background-color: brown;
  font-size: 38px;
} */

/* pseudo eleement :: */
/* 
#r :: before {
  content: "Written by CSS";
} */
/* .b::first-letter {
  font-size: 48px;
  color: red;
} */

/* #1 {
  display: block;
} */

/* #1::first-letter {
  font-size: 20px;
  color: green;
} */
/* #1::first-line {
  color: yellow;
  font: size 32px;
}  */

/* Box Model */
h1:nth-child(1) {
  border: 3px solid red;
  /*padding:30px;*/
  /*padding:10px 20px 40px 60px;*/
  /*padding:20px 80px;
    margin:80*/
}
