* {
}
.gridContainer {
  display: flex;
  border: 1px solid red;
  height: 90vh;
  display: grid;
  justify-content: center;
}
header {
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 50px;
}
nav {
  grid-area: nav;
  background-color: black;
  color: wheat;
  /* padding: 10px; */
  border: 1px;
}
.flexItem {
  background-color: aqua;
  border: 2px solid red;
  font-size: 24px;
  width: 250px;
  color: red;
  height: 60px;
}
.gridContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
