.gridContainer {
  border: 1px solid red;
  height: 90vh;
  display: grid;
  /* grid-template-columns: 100px 200px 300px 400px;
  grid-template-rows: 100px 100px; */
  /* grid-template-columns: repeat(4, "100rf");
  grid-template-rows: 100p 100px; */
  grid-template-columns: 200px 200px 200px 200px;
  /* row-gap: 10px; */
  /* column-gap: 10px; */
  /* justify-content: space-evenly; */
  /* align-content: center; */
  /* gap: 10px; */
}
.item {
  color: red;
  border: 1px solid;
  background-color: yellow;
  padding: 30px 40px;
}
.item:nth-child(1) {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-column: 3/-1;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-row: 2/3;
}
item.item:nth-child(8) {
  grid-column: 2/3;
  grid-row: 2/3;
}

header {
  grid-area: head;
  background-color: black;
  color: wheat;
  /* padding: 10px; */
  border: 1px;
}
nav {
  grid-area: nav;
  background-color: blue;
  color: wheat;
  /* padding: 10px; */
  border: 1px;
}

main {
  grid-area: main;
  background-color: red;
  color: wheat;
  /* padding: 10px; */
  border: 1px;
}
aside {
  grid-area: aside;
  background-color: green;
  color: wheat;
  /* padding: 10px; */
  border: 1px;
}
footer {
  grid-area: footer;
  background-color: yellow;
  color: wheat;
  /* padding: 10px; */
  border: 1px;
}
.flexItem {
  background-color: yellow;
  border: 2px solid red;
  color: red;
  font-size: 24px;
  height: 100px;
  width: 100px;
  margin: 20px;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "head head head"
    "navbar mainContent aside"
    "footer footer footer";
}

header:hover {
  transform: translateY(-10px);
}
@media (max-width: 576px) {
  body {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "head head head"
      "navbar mainContent "
      "footer footer";
  }
  aside {
    display: none;
  }
  .flexItem {
    font-size: 14px;
    height: 50px;
  }
  main {
    background-color: red;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  body {
    grid-template-areas:
      "head head head"
      "Aside mainContent navbar"
      "footer footer footer";
  }
}
