body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 20px;
}

.title {
  background: rgb(47, 116, 223);
  color: white;
  padding: 10px;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border: 1px solid gray;
  width: 70%;
  margin: auto;
}

.question {
  margin-bottom: 20px;
}

.box-model {
  border: 4px solid blue;
  padding: 20px;
  width: 200px;
  margin-bottom: 20px;
  background: #e8e8e8;
}

.fixed-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.box {
  padding: 10px 20px;
  border: 5px solid black;
}
.question {
  border: 5px solid blanchedalmond;
}
