.heading {
  text-align: center;
}
/* .parent {
  border: 1px solid black;
} */

.flexContainer1 {
  display: flex;
  border: 2px solid black;
  justify-content: flex-start;
}
.flexContainer4 {
  flex-direction: column;
  display: flex;
  border: 2px solid black;
  justify-content: flex-start;
}

.flexContainer2 {
  flex-direction: column;
  display: flex;
  border: 2px solid black;
  justify-content: space-around;
}
.flexItem2 {
  background-color: aqua;
  border: 1px solid black;
  height: 60px;
  width: 1000px;
}
.flexItem1 {
  background-color: aqua;
  border: 2px solid red;
  font-size: 24px;
  width: 80px;
  color: red;
  height: 60px;
}
.flexContainer10 {
  display: flex;
  border: 1px solid black;
  flex-direction: row;

  justify-content: space-around;
}
.flexItem10 {
  background-color: aqua;
  border: 1px solid black;
  font-size: 24px;
  width: 80px;

  height: 60px;
}
.flexItem10:nth-child(3) {
  order: -1;
}
.flexContainer11 {
  display: flex;
  border: 1px solid black;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;

  justify-content: center;
}
.flexItem11 {
  background-color: aqua;
  border: 1px solid black;
  align-content: top;
  font-size: 24px;
  width: 80px;

  height: 60px;
}
.flexItem12 {
  background-color: aqua;
  border: 1px solid black;

  font-size: 24px;
  width: 80px;
  height: 60px;
}
